.hide{
    display: none;
    position: absolute;
}

#src_barber,#src_style{
    background-image: url('../img/search.png'); /* Add a search icon to input */
    background-size: 20px 20px;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 95%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.myUL li{
    text-align: left;
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}
.myUL li:hover{
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
.myUL > label > li > img{
    vertical-align: middle;
    border-radius: 8px;
}
.myUL > label > li > .sp_barber , .sp_style{
    padding-left: 10px;
}

.myUL > label > li > .price{
    background-color: #b8b8b8;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    font-size: 10px;
    padding-right:10px;
    width: 50px;
    border-radius: 8px;
    float: right;
    vertical-align: middle;
    text-align: left;
}

.myUL > label > li > .rate{
    color: white;
    background-color: #000;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    font-size: 16px;
    padding-right:10px;
    width: 35px;
    border-radius: 8px;
    float: right;
    vertical-align: middle;
    text-align: center;
}

#pop img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#pop .toggle{
    color:#FFFFFF; 
    float:left; 
    padding:5px; 
    position:absolute; 
    top:0px; 
    right:2px;
    font-size:20px;
}

#pop h3{
	margin-bottom: 10px;
	border-bottom: 1px solid #000;
    color: black;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pop .span{
    color: black;
}

#baris {
    line-height: 40px;
    margin-left:0px;margin-right:0px;
    color:#000;
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    bottom: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: solid 1px #fff;
}